{% extends "base.html" %}
{% block content %}
    <h2 class="center-title">All comments</h2>
    <hr/>

    {% for comment in comments %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ comment.creator.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a href="{% url 'user-comment' comment.creator.username %}">{{ comment.creator.username }}</a>`s
                    <a href="{% url 'comment-detail' comment.pk %}">comment</a> on
                    {{ comment.review.creator.username }}`s
                    <a href="{% url 'review-detail' comment.review.pk %}">review</a>
                    <small class="text-muted" style="float: right">{{ comment.date_posted|date:"F d, Y" }}</small>
                </div>
                <p class="article-content">{{ comment.short_text }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
