{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h4 class="center-title">Log In</h4>
        <hr/>

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputUsername">Username*</label>
                <input type="text" name="username" class="form-control" id="inputUsername" />
            </div>

            <div class="form-group">
                <label for="inputPassword">Password*</label>
                <input type="password" name="password" class="form-control" id="inputPassword" />
            </div>

            <div class="form-group">
                <button class="btn btn-outline-info mt-3" type="submit" style="width: 100%">Log In</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Need An account?
                <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
    </div>
{% endblock content %}