{% extends "base.html" %}

{% block search %}
    {% with 'blog-home' as base_url %}
        {% include 'search.html' %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h2 style="text-align: center">All books</h2>
    <hr/>

    {% if search_by == 'title' %}
        {% if books %}
            <h2 class="center-title">Search results for "{{ search_pattern }}" titles</h2>
        {% else %}
            <h2 class="center-title">Nothing to show for "{{ search_pattern }}" titles</h2>
        {% endif %}
    {% endif %}

    {% if search_by == 'author' %}
        {% if books %}
            <h2 class="center-title">Search results for "{{ search_pattern }}" authors</h2>
        {% else %}
            <h2 class="center-title">Nothing to show for "{{ search_pattern }}" authors</h2>
        {% endif %}
    {% endif %}

    {% if is_moderator %}
        <div>
            <div class="col text-center mb-3">
                {% if books %}
                    <a class="btn btn-success btn-add-review" style="width: 100%" href="{% url 'book-add'%}">Add New Book</a>
                {% else %}
                    <a class="btn btn-success btn-add-review" style="width: 100%" href="{% url 'book-add'%}">Add First Book!</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% for book in books %}
        <article class="media content-section">
            <img class="cover" src="{{ book.cover_img.url }}">
            <div class="media-body">

                <div class="article-metadata">
                    <a class="mr-2" style="font-size: 20px" href="{% url 'book-detail' book.id %}">{{ book.title }}</a>
                </div>

                <h5>Authors:</h5>
                <ul>
                    {% for author in book.authors.all %}
                    <li><a href="#" class="no-style-link">{{ author }}</a></li>
                    {% endfor %}
                </ul>

                <h5>Genres:</h5>
                <ul>
                    {% for genre in book.genres.all %}
                    <li><a href="#" class="no-style-link">{{ genre }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            {% if book.score > 7 %}
                <div class="rating" style="background-color: green">
                    <b style="margin: 7px">{{ book.score|floatformat:2 }}%</b>
                </div>
            {% elif book.score > 4 %}
                <div class="rating" style="background-color: darkorange">
                    <b style="margin: 7px">{{ book.score|floatformat:2 }}%</b>
                </div>
            {% else %}
                <div class="rating" style="background-color: #ff4d4d">
                    <b style="margin: 7px">{{ book.score|floatformat:2 }}%</b>
                </div>
            {% endif %}
        </article>
    {% endfor %}
{% endblock content %}

{% block pagination %}
        {% if search_by %}
            {% with '&search_pattern='|add:search_pattern|add:'&search_by='|add:search_by as base_url %}
                {% include 'pagination.html' %}
            {% endwith %}
        {% else %}
            {% include 'pagination.html' %}
        {% endif %}
{% endblock pagination %}
